{% extends 'base.html' %}
{% load static widget_tweaks %}

{% block content %}
  <div class="row">
    <form method="post">
      <h4>Продать {{ item.name }}</h4>
      {% csrf_token %}
      <div class="form-group">
        <label for="id_number">{{ form.number.label }}</label>
        {% render_field form.number class="form-control" max=item.number %}
      </div>
      <button type="submit" class="btn btn-primary">Ok</button>
    </form>
  </div>
{% endblock %}