{% extends 'base.html' %}
{% load static widget_tweaks %}

{% block content %}
  <div class="row">
    <form method="post">
      <h4>Создать товар</h4>
      {% csrf_token %}
      <div class="form-group">
        <label for="id_name">{{ form.name.label }}</label>
        {% render_field form.name class="form-control" placeholder='Название товара ' %}
      </div>
      <div class="form-group">
        <label for="id_number">{{ form.number.label }}</label>
        {% render_field form.number class="form-control" %}
      </div>
      <div class="form-group">
        <label for="id_status">{{ form.status.label }}</label>
        {% render_field form.status class="form-control"%}
      </div>
      <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
  </div>
{% endblock %}