{% extends 'base.html' %}
{% load static widget_tweaks %}

{% block content %}
  <h3>Товар: {{ item.name }}</h3>
  <p>Статус: {{ item.status }}</p>
  <p>Количество: {{ item.number }}</p>
{% endblock %}