{% extends 'base.html' %}
{% load static widget_tweaks %}

{% block content %}
  <h3>Список товаров</h3>
  <div class="pb-1">
    {% if perms.core.add_item %}
      <a class="btn btn-outline-primary" href="{% url 'item_add' %}">Добавить товар</a>
    {% endif %}
  </div>
  <table class="table align-content-center align-middle">
    <thead>
      <tr>
        <th scope="col">Название</th>
        <th scope="col">Статус</th>
        <th scope="col">Количество</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    {% for item in item_list %}
      <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.get_status_display }}</td>
        <td>{{ item.number }}</td>
        <td>
          {% if perms.core.can_sold_items and item.number > 0 %}
            <a class="btn btn-sm btn-outline-primary" href="{% url 'item_sold' item.pk %}">Продать товар</a>
          {% endif %}
          {% if perms.core.can_change_status and item.status == 3 %}
            <form action="{% url 'item_change_status' item.pk %}" method="post"> {% csrf_token %}
              <button class="btn btn-sm btn-outline-primary" type="submit">Поменять статус на ожидает поступления</button>
            </form>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}