{% extends 'base.html' %}
{% load static widget_tweaks %}

{% block content %}
  <div class="row">
    <form method="post">
      <h4>Вход</h4>
      {% csrf_token %}
      <div class="form-group">
        <label for="id_username">Имя пользователя</label>
        {% render_field form.username class="form-control" placeholder="Имя пользователя" %}
      </div>
      <div class="form-group">
        <label for="id_password">Пароль</label>
        {% render_field form.password class="form-control" placeholder="Пароль" %}
      </div>
      <button type="submit" class="btn btn-primary">Войти</button>
    </form>
  </div>
{% endblock %}